<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">home</a></li>
<li><a href="/research">research</a></li>
<li><a href="https://www.dropbox.com/s/9s6eswvcazbezic/CV_RG.pdf?raw=1" target="_blank">cv</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li>email: <a href="mailto:rg3128@nyu.edu">rg3128@nyu.edu</a></li>
   <!--<li><a href="mailto:rg3128@nyu.edu">email</a></li> -->
   <!--<li><a href="https://www.linkedin.com/in/rafael-guntin-61b55911" target="_blank">linkedin</a></li>-->
   <!--<li><a href="https://twitter.com/rafaguntin" target="_blank">twitter</a></li>-->
   </ul>
  </footer>
  </body>

</html>
